* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    background-color: rgba(234, 255, 214, 1);
}
.boxModel {
    background-color: rgba(129, 217, 127, 1);
    border-radius: 35px;
    padding: 120px 16px 106px 47px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.boxModel .textoBemvindo{
    margin: 0px 81px 0px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.boxModel .textoBemvindo h1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 67px;
}
.boxModel .textoBemvindo p{
    font-size: 15px;
    font-weight: 600;
}


.textoBemvindo .botao{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 12px;
}

.textoBemvindo  .botao button{
    padding: 8px 33px 8px 33px;
    border-radius: 8px;
    border: solid 3px black;
    box-shadow: 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 14px;
}

.boxModel .entrarForm{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 39px;
}
.boxModel .entrarForm h1{
    font-size: 36px;
    font-weight: bold;
    color: rgba(31, 31, 31, 1);
    margin-bottom: 47px;
}

.boxModel .entrarForm form .field{
    color: rgba(238, 238, 238, 1);
    margin-bottom: 13px;
    text-decoration: none;
    border: none;
}

.boxModel .entrarForm form .field input:placeholder{
    color: rgba(0, 0, 0, 0.45);
    border: none;
}
.boxModel .entrarForm form .field input{
    border-radius: 8px;
    border:none;
    padding: 8px 204px 8px 9px;
}
.boxModel .entrarForm .botao{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 12px;
}

.boxModel .entrarForm .botao button{
    padding: 8px 33px 8px 33px;
    border-radius: 8px;
    border: solid 3px rgba(255, 255, 255, 1);
    background-color: rgba(31, 31, 31, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 14px;
}

.boxModel .entrarForm form p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    color: rgba(248, 14, 14, 1);
    font-size: 15;
}